/* Grid setup */

.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.3%; 
}

.span_6_of_8 {
	width: 74.6%; 
}

.span_5_of_8 {
	width: 61.9%; 
}

.span_4_of_8 {
	width: 49.2%; 
}

.span_3_of_8 {
	width: 36.5%;
}

.span_2_of_8 {
	width: 23.8%; 
}

.span_1_of_8 {
	width: 11.1%; 
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* Margin's Left */

.left_7_of_8 {
	margin-left: 87.3%; 
}

.left_6_of_8 {
	margin-left: 74.6%; 
}

.left_5_of_8 {
	margin-left: 61.9%; 
}

.left_4_of_8 {
	margin-left: 49.2%; 
}

.left_3_of_8 {
	margin-left: 36.5%;
}

.left_2_of_8 {
	margin-left: 23.8%; 
}

.left_1_of_8 {
	margin-left: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%; 
	}
}
/* default page layout */
body {
 height: 100%;
 width: 100%;
}
.navigation {
  background-color: #0AAAD9;
  opacity: .8;
  height: 7vh;
  display: block;
  float: left;
}
.navigation div{
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 5vh;
  padding: 0 2% 0 2%;
  background-color: #0AAAD9;
  height: 7vh;
}
.navigation div:hover {
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  padding: 0 2% 0 2%;
  opacity: 0.4;
  transition-duration: 0.3s;
  height: 7vh;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
/*
a:unvisited {
  color: black;
  text-decoration: none;
}
*/
#prestia {
  float: left;
  padding-left: 1%;
  text-decoration: none;
}
#contact {
  padding: 0 0 2vw 0;	
}
.footer {
  background-color: #0AAAD9;
  width: 100%; 
  opacity: .8;
  height: 7vh;
  display: block;
  float: left;
}
#donate {
  font-size: 2.2vh;
  font-family: 'Oswald', sans-serif;
  padding-left: 2vw;
  padding-top: 2vh;
}
.footer a{
  font-size: 2.2vh;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2%;
  padding: .5vh 0 0 0;
  color: black;
}
.footer a:hover {
  opacity: 0.4;
  transition-duration: 0.3s;
  padding: .95vh 0 .95vh 0;
  text-decoration: none;
}

/* Prestia/Welcome Page */

.welcome {
  content: '';
  overflow: hidden;
  background-image: url('https://photos-6.dropbox.com/t/2/AAAYy8WN895mktEnGHgkifpLCoLUJuhN7c55of6lfjEoPw/12/203727679/jpeg/32x32/1/_/1/2/slothHDcropXII.jpg/EKW5x6MEGGQgAigC/OMpOi7XXeuYVzwrg9dB06sBpl0kY_ehjS86kaU1RUXE?size=800x600&size_mode=3');
  background-size: cover;
  height: 88vh;
  zoom: 1;
}
.welcome p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #011419;
}
#top {
  margin-top: 20vh;
  text-align: center;
  display: block;
  margin-left: 8vw;
}
#bottom {
  margin-top: 25vh;
  text-align: center;
  display: block;
  margin-left: 8vw;
}

/* ART PAGE */

.collection {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin: 0 15vw 0 15vw;
  border: 2px solid #0AAAD9;
}
.collection ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.collection ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 6.666%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.collection ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.collection ul li div a {
  display: block;
  height: 60vh;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  transition: all 200ms ease;
}
.collection ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.collection ul li div a h2 {
  font-family: 'Oswald', sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 320px;
  padding: 0 0 0 15px;
}
.collection ul li div a p {
  top: 320px;
  font-size: 13.5px;
  padding: 0 0 0 15px;
  color: #9CDEFF;
}
/*images*/
.collection ul li:nth-child(1) { background-image: url("https://photos-4.dropbox.com/t/2/AAByRGxZQVU8Mpe3pA2HiiPFmZ3IbiJiXOx9c76p3JCoxg/12/203727679/jpeg/32x32/1/_/1/2/art1.jpg/EKW5x6MEGF0gAigC/ETWLHhB_XOSxpSXeVoIS4LZFeptk2zxd0cZ-TzuKq5c?size=800x600&size_mode=3"); }
.collection ul li:nth-child(2) { background-image: url("https://photos-5.dropbox.com/t/2/AACKKiJulAKvPae-XP-rAsxEjztRcP7dfFuYi7NvruJB1Q/12/203727679/jpeg/32x32/1/_/1/2/art2.jpg/EKW5x6MEGF0gAigC/wnB9h2CN1rINTb_cTpJawLxaqr4ZTgs6u4qejyFu5j4?size=800x600&size_mode=3"); }
.collection ul li:nth-child(3) { background-image: url("https://photos-1.dropbox.com/t/2/AAAxBjEqdL2O3bs5tjBc1SGEcjs3XAgD7C6cf7EQqMLCJg/12/203727679/jpeg/32x32/1/_/1/2/art3.jpg/EKW5x6MEGF0gAigC/svLSLo-LrMIGsDlyZhOs8Uoc6728DXcpYH3MZIQ_4_w?size=800x600&size_mode=3"); }
.collection ul li:nth-child(4) { background-image: url("https://photos-6.dropbox.com/t/2/AAD-Wyvb9QJfCHIphKLQqey_4YJwXCjLKCV--eYCeROgww/12/203727679/jpeg/32x32/1/_/1/2/art4.jpg/EKW5x6MEGF0gAigC/uR1-jaIylogq9GXOLFTv1UpDjaH6_Ais2QwHdtVJkhI?size=800x600&size_mode=3"); }
.collection ul li:nth-child(5) { background-image: url("https://photos-2.dropbox.com/t/2/AADlMC_R5vG1hU9GLiwXPdA4w1SgdkteA5sSdgfXGK-rrQ/12/203727679/jpeg/32x32/1/_/1/2/art5.jpg/EKW5x6MEGF0gAigC/TzSXuKUH6jY8BSxcIV1qgfMe1hXnQLy-Gq0Y0ru5eAY?size=800x600&size_mode=3"); }
.collection ul li:nth-child(6) { background-image: url("https://photos-6.dropbox.com/t/2/AABe--hs4lF9UOE6nyBxvsrfXrwQR6z6p3S0trvAFA_f2A/12/203727679/jpeg/32x32/1/_/1/2/art6.jpg/EKW5x6MEGF0gAigC/ao6hf4eLJxXETfTCFAeoutuaaIujriRA0kklASXrewM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(7) { background-image: url("https://photos-2.dropbox.com/t/2/AADPa90KK0lSgTKbGiosTSzN10FFHzmuSIylwiOEbalZlw/12/203727679/jpeg/32x32/1/_/1/2/art7.jpg/EKW5x6MEGF0gAigC/BuegLKdaV-UyGHOXpxz0sRNGnMSaT4JB2CtwuCM6gVM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(8) { background-image: url("https://photos-3.dropbox.com/t/2/AACklLnVVl6SUtv06nHC-ioBAij6lCptvZeGjCmQ42o97g/12/203727679/jpeg/32x32/1/_/1/2/art8.jpg/EKW5x6MEGF0gAigC/nzvCI5LIt4CtzTBI2hg7HPNsPUR9ll-w1fPxzDB3ZHQ?size=800x600&size_mode=3"); }
.collection ul li:nth-child(9) { background-image: url("https://photos-6.dropbox.com/t/2/AADUstkSWsty0Rs9FkprQDvI3Lt6pMRaQ1WLr2JKmNhQFA/12/203727679/jpeg/32x32/1/_/1/2/art9.jpg/EKW5x6MEGF0gAigC/v91QrdPcr6kz_1tMYaksDMpWE0QJ8wIKxcrMT9lA_ww?size=800x600&size_mode=3"); }


.collection ul:hover li { width: 6%; }
.collection ul:hover li:hover { width: 60%; }
.collection ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.collection ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
.collection { height: auto; }

.collection ul li,
.collection ul li:hover,
.collection ul:hover li,
.collection ul:hover li:hover {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
}

/* CONTACT PAGE */
.contactform {
  content: '';
  overflow: hidden;
  background-image: url('https://photos-6.dropbox.com/t/2/AAAYy8WN895mktEnGHgkifpLCoLUJuhN7c55of6lfjEoPw/12/203727679/jpeg/32x32/1/_/1/2/slothHDcropXII.jpg/EKW5x6MEGGQgAigC/OMpOi7XXeuYVzwrg9dB06sBpl0kY_ehjS86kaU1RUXE?size=800x600&size_mode=3');
  background-size: cover;
  height: 175vh;
  zoom: 1;
}
.contactform {
}
.formcontainer{
  margin-left: 30vw;
}
.formcontainer2{
  margin-top: -15vh;
  margin-left: 10vw;
}
#form {
  margin-top: 6vh;
  marglin-left: 40vw;
  height: 80vh;
  list-style: none;
}
.control-label {
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
  margin: 4vh 1vw 1vh 1vw;
  text-align: left;
  width: 15vw;
  height: 5vh;
  padding: 1vh 0 0 0;
}

input:focus {
  padding: 0 0 0 2vw;
  height: 5vh;
}
#name {
  width: 30vw;
  margin: 3vh 0 1vh 1.7vw;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 1vw;
  height: 6vh;
  border-radius: .5em;
}
#email{
  width: 30vw;
  margin: 3vh 0 1vh 1.7vw;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 1vw;
  height: 6vh;
  border-radius: .5em;
}

#subject {
  width: 30vw;
  margin: 3vh 0 1vh 1.7vw;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 1vw;
  height: 6vh;
  border-radius: .5em;
}
#message {
  width: 40vw;
  height: 60vh;
  margin: -12vh -35vw -10vh 31.7vw;
  padding: .55vh 0 0 1vw;
  font-family: 'Oswald', sans-serif;
  border-radius: 1em;
}
.messagelabel {
  margin: -8vh 0 0 31vw;
}
#submit {
  width: 30vw;
  font-family: 'Oswald', sans-serif;
  font-size: 6vh;  
  height: 9vh;
  padding: 0 0 2vh 0;
  border-radius: .3em;
  margin: 10vh 0 0 37vw;
}
#submit:hover{
  opacity: .8;
  background-color: #0AAAD9;
}
#contme {
  font-family: 'Oswald', sans-serif;
  font-size: 6vh;  
  margin-top: 5vh;
  margin-left: 5vh;
  float: left;
  clear: both;
}

/* ABOUT ME */
.longpage {
  content: '';
  overflow: hidden;
  background-image: url('https://photos-6.dropbox.com/t/2/AAAYy8WN895mktEnGHgkifpLCoLUJuhN7c55of6lfjEoPw/12/203727679/jpeg/32x32/1/_/1/2/slothHDcropXII.jpg/EKW5x6MEGGQgAigC/OMpOi7XXeuYVzwrg9dB06sBpl0kY_ehjS86kaU1RUXE?size=800x600&size_mode=3');
  background-size: cover;
  height: 165vh;
  zoom: 1;
}
.longpage p {
  font-family: 'Montserrat', sans-serif;
  color: #011014;
}
#intro {
 margin: 0 0 0 0;
 font-size: 6vh;
 font-family: 'Montserrat', sans-serif;
}
#sectionbody {
  font-size: 3vh;
  margin-bottom: 0;
}
#emphasis {
  text-align: center;
  font-size: 8vh;
  font-family: 'Roboto Slab', sans-serif;
    margin: 1vh 0 1vh 0;
}
#sectionbody2 {
  font-size: 3vh;
  margin-top: 0;
}
#ckilink {
  color: #F04F40;
  text-decoration: none;
}

/* Certifications Page */
