body {
	
}
.navigation {
	background-color: #0AAAD9;
	position: relatve;
  width: 100%; 
  height: 37px;
  opacity: .8;
}
.navigation div{
  display: inline-block;
  float: right;
	font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding: 0 10px 0 10px;
  background-color: #0AAAD9;
}
.navigation div:hover {
	position: relative;
	display: inline-block;
	float: right;
	font-family: 'Oswald', sans-serif;
  padding: 0 10px 0 10px;
	opacity: 0.4;
	transition-duration: 0.3s;
}

#prestia {
	float: left;
	padding-left: 5px;
	
}
/*
#arrow {
}
#arrow:before {
    content: "\f078";
    display: inline;
    padding: 0px 5px 2px 2px;
    margin-right: 25px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-out;
    opacity: 0.4;
    height: 60%;
    width: 60%;
} */
#myArt:hover {
  width: 75px;
}
#myArt {
  padding: 0 5px 0 5px;
  width: 75px;
  margin-right: 3px;
}
#filler{
  background-color: #0AAAD9;
}
.welcome {
	width: 100%;
	height: 700px;
	overflow: hidden;
  position: relative;
  background-image: url("https://photos-5.dropbox.com/t/2/AAC3O61IIkHI6ayPB0Jx5m6mupxOQkF43o1JmBLPNLJuBw/12/203727679/jpeg/32x32/1/_/1/2/slothsHDcropV.jpg/EKW5x6MEGD8gAigC/dpTPOnXZA-Cj2LNQ7JDq3B_wQeWs9qGxt5lR6xsgeTY?size=1280x960&size_mode=3");
  background-repeat: no-repeat;
  background-size: cover;

}
#cont {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 50px;
  opacity: 0.8;
}
/*
#left {
  float: left;
  border: 2px solid black;
  width: 10%;
  margin-top: 100px;
  text-align: center;
  height: 20px;
}
#right {
  float: right;
  border: 2px solid green;
  width: 10%;
  margin-top: 100px;
  text-align: center;
  height: 20px;
} */
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #011419;
  position: absolute;
}
#top {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  position: absolute;
  width:60%;
  float: ;
}
#bottom {
  margin-top: 150px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
}
.space {
	visibility: hidden;
}
.footer {
  background-color: #0AAAD9;
  position: relative;
  width: 100%; 
  opacity: .8;
  height: 25px;
}
#facebook img {
  height: 15px;
  width: 15px;
}
#twitter img{
  height: 15px;
  width: 15px;
}
#twitter {
  position: absolute;
  margin-right: 5px;
  }
#instagram img{
  height: 15px;
  width: 15px;
}
