body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
}
.navigation {
  background-color: #0AAAD9;
  position: relatve;
  width: 100%; 
  height: 37px;
  opacity: .8;
}
.navigation div{
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding: 0 19px 0 19px;
  background-color: #0AAAD9;
}
.navigation div:hover {
  position: relative;
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  padding: 0 19px 0 19px;
  opacity: 0.4;
  transition-duration: 0.3s;
}
a {
  color: black;
  text-decoration: none;
}
#prestia {
  float: left;
  padding-left: 5px;
  text-decoration: none;
}
#myArt {
  padding: 0 0 0 5px;
  width: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  text-decoration: none;
}
.welcome {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
  background-image: url("https://photos-5.dropbox.com/t/2/AAC3O61IIkHI6ayPB0Jx5m6mupxOQkF43o1JmBLPNLJuBw/12/203727679/jpeg/32x32/1/_/1/2/slothsHDcropV.jpg/EKW5x6MEGD8gAigC/dpTPOnXZA-Cj2LNQ7JDq3B_wQeWs9qGxt5lR6xsgeTY?size=1280x960&size_mode=3");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dotted black;
}
/*
#cont {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.8;
  border: 1px solid black;
} */
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #011419;
  position: absolute;
}
#top {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  position: absolute;
  width:70%;
  border: 1px dotted gray;
}
#bottom {
  margin-top: 300px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  width:70%;
  border: 1px solid gray;
}
.space {
	visibility: hidden;
}
.footer {
  background-color: #0AAAD9;
  position: relative;
  width: 100%; 
  opacity: .8;
  height: 37px;
}

/* ART PAGE */

.collection {
  width: 100%;
  max-width: 1080px;
  height: 550px;
  overflow: hidden;
  margin: 50px auto;
}
.collection ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.collection ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.collection ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.collection ul li div a {
  display: block;
  height: 550px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  transition: all 200ms ease;
}
.collection ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.collection ul li div a h2 {
  font-family: 'Oswald', sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 400px;
}
.collection ul li div a p {
  top: 400px;
  font-size: 13.5px;
}
/*images*/
.collection ul li:nth-child(1) { background-image: url("https://photos-4.dropbox.com/t/2/AAByRGxZQVU8Mpe3pA2HiiPFmZ3IbiJiXOx9c76p3JCoxg/12/203727679/jpeg/32x32/1/_/1/2/art1.jpg/EKW5x6MEGF0gAigC/ETWLHhB_XOSxpSXeVoIS4LZFeptk2zxd0cZ-TzuKq5c?size=800x600&size_mode=3"); }
.collection ul li:nth-child(2) { background-image: url("https://photos-5.dropbox.com/t/2/AACKKiJulAKvPae-XP-rAsxEjztRcP7dfFuYi7NvruJB1Q/12/203727679/jpeg/32x32/1/_/1/2/art2.jpg/EKW5x6MEGF0gAigC/wnB9h2CN1rINTb_cTpJawLxaqr4ZTgs6u4qejyFu5j4?size=800x600&size_mode=3"); }
.collection ul li:nth-child(3) { background-image: url("https://photos-1.dropbox.com/t/2/AAAxBjEqdL2O3bs5tjBc1SGEcjs3XAgD7C6cf7EQqMLCJg/12/203727679/jpeg/32x32/1/_/1/2/art3.jpg/EKW5x6MEGF0gAigC/svLSLo-LrMIGsDlyZhOs8Uoc6728DXcpYH3MZIQ_4_w?size=800x600&size_mode=3"); }
.collection ul li:nth-child(4) { background-image: url("https://photos-6.dropbox.com/t/2/AAD-Wyvb9QJfCHIphKLQqey_4YJwXCjLKCV--eYCeROgww/12/203727679/jpeg/32x32/1/_/1/2/art4.jpg/EKW5x6MEGF0gAigC/uR1-jaIylogq9GXOLFTv1UpDjaH6_Ais2QwHdtVJkhI?size=800x600&size_mode=3"); }
.collection ul li:nth-child(5) { background-image: url("https://photos-2.dropbox.com/t/2/AADlMC_R5vG1hU9GLiwXPdA4w1SgdkteA5sSdgfXGK-rrQ/12/203727679/jpeg/32x32/1/_/1/2/art5.jpg/EKW5x6MEGF0gAigC/TzSXuKUH6jY8BSxcIV1qgfMe1hXnQLy-Gq0Y0ru5eAY?size=800x600&size_mode=3"); }
.collection ul li:nth-child(6) { background-image: url("https://photos-6.dropbox.com/t/2/AABe--hs4lF9UOE6nyBxvsrfXrwQR6z6p3S0trvAFA_f2A/12/203727679/jpeg/32x32/1/_/1/2/art6.jpg/EKW5x6MEGF0gAigC/ao6hf4eLJxXETfTCFAeoutuaaIujriRA0kklASXrewM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(7) { background-image: url("https://photos-2.dropbox.com/t/2/AADPa90KK0lSgTKbGiosTSzN10FFHzmuSIylwiOEbalZlw/12/203727679/jpeg/32x32/1/_/1/2/art7.jpg/EKW5x6MEGF0gAigC/BuegLKdaV-UyGHOXpxz0sRNGnMSaT4JB2CtwuCM6gVM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(8) { background-image: url("https://photos-3.dropbox.com/t/2/AACklLnVVl6SUtv06nHC-ioBAij6lCptvZeGjCmQ42o97g/12/203727679/jpeg/32x32/1/_/1/2/art8.jpg/EKW5x6MEGF0gAigC/nzvCI5LIt4CtzTBI2hg7HPNsPUR9ll-w1fPxzDB3ZHQ?size=800x600&size_mode=3"); }
.collection ul li:nth-child(9) { background-image: url("https://photos-6.dropbox.com/t/2/AADUstkSWsty0Rs9FkprQDvI3Lt6pMRaQ1WLr2JKmNhQFA/12/203727679/jpeg/32x32/1/_/1/2/art9.jpg/EKW5x6MEGF0gAigC/v91QrdPcr6kz_1tMYaksDMpWE0QJ8wIKxcrMT9lA_ww?size=800x600&size_mode=3"); }


.collection ul:hover li { width: 8%; }
.collection ul:hover li:hover { width: 80%; }
.collection ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.collection ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
.collection { height: auto; }

.collection ul li,
.collection ul li:hover,
.collection ul:hover li,
.collection ul:hover li:hover {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
}

/* CONTACT PAGE */

#form {
  margin-top: 75px;
  margin-left: 11%;
  margin-right: 11%;
  width: 70%;
  height: 500px;
  list-style: none;
  position: relative;
}
#form label {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin: 22px 15px 22px 15px;
  text-align: right;
  width: 200px;
  height: 30px;
  position: absolute;
}
input {
  width: 480px;
  margin: 5px 0 10px 225px;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 15px;
  position: absolute;
  height: 30px;
}
input:focus {
  padding: 0 0 0 15px;
  width: 60%;
  height: 30px;
}
#name {

}
#email{
  
}
#subject {

}
#message {
  width: 61%;
  height: 300px;
  margin: 5px 0 10px 225px;
  position: absolute;
  padding: 0 0 0 15px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
}
#submit {
  width: 31%;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;  
  height: 40px;
  margin-left: 365px;
  margin-top: 306px;
  padding: 0 0 6px 0;
}
#submit:hover{
  opacity: .8;
  background-color: #0AAAD9;
}
#contme {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;  
  margin-top: 30px;
  margin-left: 60px;
  float: left;
  clear: both;
}

/* ABOUT ME */

#codingPage {
  position: relative;
  height: 1440px;
}
#mainContent {
  margin: 50px 100px 50px 100px;
  height: 1440px;
}
#intro {
 margin: 0 0 0 0;
}
#sectionbody {
  margin: 75px 50px 25px 50px;
  font-size: 24px;
  position: absolute;
  width: 75%;
}
#atbest {
  position: absolute;
  margin: 170px 0 15px 200px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#period {
  position: absolute;
  margin: 158px 0 15px 252px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
#sectionbodyB {
  font-size: 24px;
  width: 75%;
  margin: 164px 0 0 265px;
  position: absolute;
}
#emphasis {
  text-align: center;
  font-size: 39px;
  font-family: Roboto Slab;
  margin: 170px 0 15px 360px;
  width: 430px;
}
#sectionbody2 {
  margin: 240px 0 25px 50px;
  font-size: 24px;
  width: 75%;
  position: absolute;
}
#ckilink {
  color: #F04F40;
  text-decoration: none;
}
