/* Grid setup */

.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.3%; 
}

.span_6_of_8 {
	width: 74.6%; 
}

.span_5_of_8 {
	width: 61.9%; 
}

.span_4_of_8 {
	width: 49.2%; 
}

.span_3_of_8 {
	width: 36.5%;
}

.span_2_of_8 {
	width: 23.8%; 
}

.span_1_of_8 {
	width: 11.1%; 
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* Margin's Left */

.left_7_of_8 {
	margin-left: 87.3%; 
}

.left_6_of_8 {
	margin-left: 74.6%; 
}

.left_5_of_8 {
	margin-left: 61.9%; 
}

.left_4_of_8 {
	margin-left: 49.2%; 
}

.left_3_of_8 {
	margin-left: 36.5%;
}

.left_2_of_8 {
	margin-left: 23.8%; 
}

.left_1_of_8 {
	margin-left: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%; 
	}
}
/* default page layout */
body {
 height: 100%;
 width:100%;
}
.navigation {
  background-color: #0AAAD9;
  opacity: .8;
  height: 6vh;
  display: block;
  float: left;
}
.navigation div{
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
  padding: 0 2% 0 2%;
  background-color: #0AAAD9;
  height: 6vh;
}
.navigation div:hover {
  display: inline-block;
  float: right;
  font-family: 'Oswald', sans-serif;
  padding: 0 2% 0 2%;
  opacity: 0.4;
  transition-duration: 0.3s;
  height: 6vh;
}
a {
  color: black;
  text-decoration: none;
}
#prestia {
  float: left;
  padding-left: 1%;
  text-decoration: none;
}
.footer {
  background-color: #0AAAD9;
  width: 100%; 
  opacity: .8;
  height: 6vh;
  display: block;
  float:left;
}
#donate {
  font-size: .9em;
  font-family: 'Oswald', sans-serif;
  padding-left: 2vw;
}
.footer a{
  font-size: .9em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2%;
}
.footer a:hover {
  opacity: 0.4;
  transition-duration: 0.3s;
}

/* Prestia/Welcome Page */

.welcome {
  content: "";
  overflow: hidden;
  background-image: url("https://photos-6.dropbox.com/t/2/AAAYy8WN895mktEnGHgkifpLCoLUJuhN7c55of6lfjEoPw/12/203727679/jpeg/32x32/1/_/1/2/slothHDcropXII.jpg/EKW5x6MEGGQgAigC/OMpOi7XXeuYVzwrg9dB06sBpl0kY_ehjS86kaU1RUXE?size=800x600&size_mode=3");
  background-size: cover;
  height: 88vh;
  zoom: 1;
}
.welcome p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #011419;
}
#top {
  margin-top: 10vh;
  text-align: center;
  display: block;
  float: left;
}
#bottom {
  margin-top: 5vh;
  margin-bottom: 10vh;
  text-align: center;
  display: block;
  float: left;
}

/* ART PAGE */

.collection {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin: 0 15vw 0 15vw;
  border: 2px solid #0AAAD9;
}
.collection ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.collection ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 6.666%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.collection ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.collection ul li div a {
  display: block;
  height: 60vh;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  transition: all 200ms ease;
}
.collection ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.collection ul li div a h2 {
  font-family: 'Oswald', sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 320px;
  padding: 0 0 0 15px;
}
.collection ul li div a p {
  top: 320px;
  font-size: 13.5px;
  padding: 0 0 0 15px;
  color: #9CDEFF;
}
/*images*/
.collection ul li:nth-child(1) { background-image: url("https://photos-4.dropbox.com/t/2/AAByRGxZQVU8Mpe3pA2HiiPFmZ3IbiJiXOx9c76p3JCoxg/12/203727679/jpeg/32x32/1/_/1/2/art1.jpg/EKW5x6MEGF0gAigC/ETWLHhB_XOSxpSXeVoIS4LZFeptk2zxd0cZ-TzuKq5c?size=800x600&size_mode=3"); }
.collection ul li:nth-child(2) { background-image: url("https://photos-5.dropbox.com/t/2/AACKKiJulAKvPae-XP-rAsxEjztRcP7dfFuYi7NvruJB1Q/12/203727679/jpeg/32x32/1/_/1/2/art2.jpg/EKW5x6MEGF0gAigC/wnB9h2CN1rINTb_cTpJawLxaqr4ZTgs6u4qejyFu5j4?size=800x600&size_mode=3"); }
.collection ul li:nth-child(3) { background-image: url("https://photos-1.dropbox.com/t/2/AAAxBjEqdL2O3bs5tjBc1SGEcjs3XAgD7C6cf7EQqMLCJg/12/203727679/jpeg/32x32/1/_/1/2/art3.jpg/EKW5x6MEGF0gAigC/svLSLo-LrMIGsDlyZhOs8Uoc6728DXcpYH3MZIQ_4_w?size=800x600&size_mode=3"); }
.collection ul li:nth-child(4) { background-image: url("https://photos-6.dropbox.com/t/2/AAD-Wyvb9QJfCHIphKLQqey_4YJwXCjLKCV--eYCeROgww/12/203727679/jpeg/32x32/1/_/1/2/art4.jpg/EKW5x6MEGF0gAigC/uR1-jaIylogq9GXOLFTv1UpDjaH6_Ais2QwHdtVJkhI?size=800x600&size_mode=3"); }
.collection ul li:nth-child(5) { background-image: url("https://photos-2.dropbox.com/t/2/AADlMC_R5vG1hU9GLiwXPdA4w1SgdkteA5sSdgfXGK-rrQ/12/203727679/jpeg/32x32/1/_/1/2/art5.jpg/EKW5x6MEGF0gAigC/TzSXuKUH6jY8BSxcIV1qgfMe1hXnQLy-Gq0Y0ru5eAY?size=800x600&size_mode=3"); }
.collection ul li:nth-child(6) { background-image: url("https://photos-6.dropbox.com/t/2/AABe--hs4lF9UOE6nyBxvsrfXrwQR6z6p3S0trvAFA_f2A/12/203727679/jpeg/32x32/1/_/1/2/art6.jpg/EKW5x6MEGF0gAigC/ao6hf4eLJxXETfTCFAeoutuaaIujriRA0kklASXrewM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(7) { background-image: url("https://photos-2.dropbox.com/t/2/AADPa90KK0lSgTKbGiosTSzN10FFHzmuSIylwiOEbalZlw/12/203727679/jpeg/32x32/1/_/1/2/art7.jpg/EKW5x6MEGF0gAigC/BuegLKdaV-UyGHOXpxz0sRNGnMSaT4JB2CtwuCM6gVM?size=800x600&size_mode=3"); }
.collection ul li:nth-child(8) { background-image: url("https://photos-3.dropbox.com/t/2/AACklLnVVl6SUtv06nHC-ioBAij6lCptvZeGjCmQ42o97g/12/203727679/jpeg/32x32/1/_/1/2/art8.jpg/EKW5x6MEGF0gAigC/nzvCI5LIt4CtzTBI2hg7HPNsPUR9ll-w1fPxzDB3ZHQ?size=800x600&size_mode=3"); }
.collection ul li:nth-child(9) { background-image: url("https://photos-6.dropbox.com/t/2/AADUstkSWsty0Rs9FkprQDvI3Lt6pMRaQ1WLr2JKmNhQFA/12/203727679/jpeg/32x32/1/_/1/2/art9.jpg/EKW5x6MEGF0gAigC/v91QrdPcr6kz_1tMYaksDMpWE0QJ8wIKxcrMT9lA_ww?size=800x600&size_mode=3"); }


.collection ul:hover li { width: 6%; }
.collection ul:hover li:hover { width: 60%; }
.collection ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
.collection ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
.collection { height: auto; }

.collection ul li,
.collection ul li:hover,
.collection ul:hover li,
.collection ul:hover li:hover {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
}

/* CONTACT PAGE */

#form {
  margin-top: 75px;
  margin-left: 11%;
  margin-right: 11%;
  width: 70%;
  height: 500px;
  list-style: none;
  position: relative;
}
#form label {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin: 22px 15px 22px 15px;
  text-align: right;
  width: 200px;
  height: 30px;
  position: absolute;
}
input {
  width: 480px;
  margin: 5px 0 10px 225px;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 15px;
  position: absolute;
  height: 30px;
}
input:focus {
  padding: 0 0 0 15px;
  width: 60%;
  height: 30px;
}
#name {

}
#email{
  
}
#subject {

}
#message {
  width: 61%;
  height: 300px;
  margin: 5px 0 10px 225px;
  position: absolute;
  padding: 0 0 0 15px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
}
#submit {
  width: 31%;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;  
  height: 40px;
  margin-left: 365px;
  margin-top: 306px;
  padding: 0 0 6px 0;
}
#submit:hover{
  opacity: .8;
  background-color: #0AAAD9;
}
#contme {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;  
  margin-top: 30px;
  margin-left: 60px;
  float: left;
  clear: both;
}

/* ABOUT ME */

#codingPage {
  position: relative;
  height: 820px;
}
#mainContent {
  margin: 50px 100px 50px 100px;
  height: 820px;
}
#intro {
 margin: 0 0 0 0;
}
#sectionbody {
  margin: 75px 50px 25px 50px;
  font-size: 17px;
  position: absolute;
  width: 75%;
}
#atbest {
  position: absolute;
  margin: 119px 0 15px 155px;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
#period {
  position: absolute;
  margin: 111px 0 15px 190px;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}
#sectionbodyB {
  font-size: 17px;
  width: 75%;
  margin: 115px 0 0 202px;
  position: absolute;
}
#emphasis {
  text-align: center;
  font-size: 30px;
  font-family: Roboto Slab;
  margin: 110px 0 10px 385px;
  width: 430px;
}
#sectionbody2 {
  margin: 158px 0 25px 50px;
  font-size: 17px;
  width: 75%;
  position: absolute;
}
#ckilink {
  color: #F04F40;
  text-decoration: none;
}
