.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar li {
  color: #5A737F;
  text-align: center;
}
footer {
  background-color: #68CCFF;
  padding: 25px;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

#header {
  height: 45vh;
  background-image: url("https://photos-4.dropbox.com/t/2/AADyb4zJuq-bJRAu964i_AbTShr7Ook1MBMUriRiHjDuOA/12/203727679/jpeg/32x32/1/_/1/2/slothsHDcropII.jpg/EKW5x6MEGGQgAigC/VS5nHmXYtNXxl2HJtjKHsfzVLgOCrBhCVTZ3dNi-B04%2ClXxuq57gs8s57MQTYeHRotDmkY66jhGDhen4aa9Hvio?size=800x600&size_mode=3");
}
#intro {
  background-color: rgba(181, 230, 255, .8);
  opacity: 0.4;
  padding: 2vh, 0, 2vh, 0;
}
#intro p {
  text-align: center;
  color: #5A737F;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
.carousel-caption {
 display: none; 
}
  }
