.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 8vh;
}
.navbar li {
  color: #5A737F;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}
#cjp {
  color: #5A737F;
  text-align: left;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
  border: 1px solid black;
}

#header {
  height: 55vh;
  background-image: url("https://photos-4.dropbox.com/t/2/AADyb4zJuq-bJRAu964i_AbTShr7Ook1MBMUriRiHjDuOA/12/203727679/jpeg/32x32/1/_/1/2/slothsHDcropII.jpg/EKW5x6MEGGQgAigC/VS5nHmXYtNXxl2HJtjKHsfzVLgOCrBhCVTZ3dNi-B04%2ClXxuq57gs8s57MQTYeHRotDmkY66jhGDhen4aa9Hvio?size=800x600&size_mode=3");
  background-size: cover;
  overflow: hidden;
  margin: -150vh 0 0 0;
}
#intro {
  opacity: 0.4;
  padding: 2vh, 0, 2vh, 0;
  margin: 5% 0 5% 0;
}
#intro p {
  text-align: center;
  color: #5A737F;
  background-color: rgba(181, 230, 255, .8);
  opacity: 1;
}
#spacer {
  height: 10vh;
  background-color: ;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

footer {
  background-color: #68CCFF;
  padding: 25px;
  font-family: 'Oswald', sans-serif;
}
footer a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2%;
  padding: .2vh 0 0 0;
  color: black;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
.carousel-caption {
 display: none; 
}
  }
