.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 8vh;
}
.navbar li {
  color: #5A737F;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}
.icon-bar {
 color: #5A737F;
}
.navbar-brand {
  color: #5A737F;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}

.jumbotron {
  background-image: url("https://photos-6.dropbox.com/t/2/AACAms8Uieje-Vsnj7mcy9NuKkx_hllK-xo2k3QA4K0WlA/12/203727679/jpeg/32x32/1/_/1/2/mallv5.jpg/EKW5x6MEGIMBIAIoAg/1aQ_kwZeNYslmvMVEEdsaGXQcnBXj1aq7_b5j7YhVXM?size=800x600&size_mode=3");
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.jumbotron h2 {
  text-align: center;
  color: #5A737F;
  /*background-color: rgba(181, 230, 255, .8);*/
  font-family: 'Montserrat', sans-serif;
  padding: 7vh 0 7vh 0;
}
#spacer {
  height: 5vh;
  background-color: white ;
}
#myCarousel{
  min-height: 65vh;
  max-height: 65vh;
  Margin: 0 15vw 0 15vw;
}
.carousel-caption h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 4vh;
}
.carousel-caption p{
  font-family: 'Oswald', sans-serif;
  font-size: 2.5vh;
}
.carousel-inner img {
  width: 60%; /* Set width to 100% */
  margin: auto;
  min-height: 65vh;
  max-height: 65vh;
}
#morestuff {
  border-bottom: 1px solid #5A737F;
}

footer {
  border-top: 2px solid #5A737F;
  border-bottom: 2px solid #5A737F;
  background-color: white;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  color: #5A737F;
}
footer p {
  padding: 0 3vw 0 0;
}
footer a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: .2vh 0 0 0;
  color: #0AAAD9;
}
footer a:hover {
  opacity: 0.4;
  transition-duration: 0.3s;
  text-decoration: none;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
.carousel-caption {
 display: none; 
}
  }
