.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 8vh;
}
.navbar li {
  color: #5A737F;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}
#cjp {
  color: #5A737F;
  text-align: center;
  text-decoration: none;
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;
}

.jumbotron {
  background-image: url("https://photos-6.dropbox.com/t/2/AABsUErsy20-_up6Tp458u5lsPXh2QVNcpfBFJHacgK1ig/12/203727679/jpeg/32x32/1/_/1/2/slothsHDcropVIII.jpg/EKW5x6MEGH4gAigC/jauRR66v7OlufJvrctEAD0BCTKXDatL4kIsZ49wOo2w?size_mode=5");
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
.jumbotron h2 {
  text-align: center;
  color: #5A737F;
  /*background-color: rgba(181, 230, 255, .8);*/
  font-family: 'Montserrat', sans-serif;
}
#spacer {
  height: 5vh;
  background-color: white ;
}
#myCarousel{
  min-height: 200px;
  max-height: 200px;
}
.carousel-caption h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 4vh;
}
.carousel-caption p{
  font-family: 'Oswald', sans-serif;
  font-size: 2.2vh;
}
.carousel-inner img {
  width: 60%; /* Set width to 100% */
  margin: auto;
  min-height: 200px;
  max-height: 200px;
}

footer {
  border: 2px solid #5A737F;
  background-color: white;
  padding: 25px;
  font-family: 'Oswald', sans-serif;
  color: #5A737F;
}
footer a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: .2vh 0 0 0;
  color: #5A737F;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
.carousel-caption {
 display: none; 
}
  }
