html {
  background-image: url("https%3A//drive.google.com/1a1c7d2c-af6b-4598-a01d-cd1b336cda4c");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5ffff;
  font-family: Arial;
  }

.form {
  
}

.section {
  position: relative;
}
#container2 {
  
}

#footer {
  clear: both;
  height: 25px;
  font-size: 8px;
  text-decoration: none;
  text-align: center;
  bottom:0;
}


https://drive.google.com/file/d/0B64yN5SEW8URRmFkdThWVEFfSkk/preview
