html, body {
  background-color: #e5ffff;
  font-family: 'Montserrat', sans-serif;
  }

form {
  
}

form input {
  border-color: none;
  height: 25px;
  width: 150px;
  background: #f0f0f0;
}

form input:focus {
  background: #fff;
  box-shadow: none;
  outline: none;
  transition: background 2s;
}

button.btn {
  background: white;
  height: 25px;
  width: 50px;
  font-size: 36px;
  color: #FF6347;
  padding: 20px 24px;
  cursor: pointer;
  transition: background 2s, color 1s;
}

button.btn:hover {
  background: #FF6347;
  color: #fff;
  transition: background 2s, color 1s;
}

.container {
  border: 2px;
  border-color: #00f28f;
  height: 600px;
  width: 400px;
  position: relative;
  background-image: url("https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/10723724_1291765674174232_571178538_n.jpg?ig_cache_key=MTE1MjM5NzIwNzcwNzg2MjUzNA%3D%3D.2");
  background-repeat: no-repeat;
}

.section {
  border: 2px;
  border-color: #00f28f;
  position: absolute;
}

.footer {
  border: 2px;
  border-color: #00f28f;
  clear: both;
  height: 25px;
  font-size: 8px;
  text-decoration: none;
  text-align: center;
  bottom:0;
}
