html {
    background-image: url("http://www.spitzer.caltech.edu/uploaded_files/other_files/0006/0681/NASA_HiddenUniverse_12.jpg");
    background-size: cover;
    }
    
div {
    border: 5px groove #b6e4fb;
    border-radius: 5px;
    padding: 3px;
    }

img {
	width:100px;
	height:100px;
    }
	
a:link {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
    }
a:hover {
    border-radius: 5px;
    background-color: #b6e4fb;
    text-align: center;
        }
a:active {
    text-decoration:none;
    }
    
#header {
    height: 20px;
    width: 128px;
    background-color: #aab4ff;
    position: fixed;
    font-size: .9em;
    }
    
#header:hover {
    height: 20px;
    width: 128px;
    background-color: #b6e4fb;
    position: fixed;
    font-size: .9em;
    }
    
.left {
    width:650px;
    background-color: #cbfffe;
    float: left;
    margin-top: 40px;
    margin-left: 145px;
    }

.right {
    width: 650px;
    background-color: #cbfffe;
    float: right;
    }

#footer {
    height: 25px; 
    background-color: #bdb7ff;
    clear: both;
    }
