html {
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12651233_506718919511118_1412335370857718700_n.jpg?oh=45bc171080e422071a2663671e88d3c6&oe=572AFC0D");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5ffff;
  font-family: Arial;
  }

.form {
  
}

.section {
  position: relative;
}
#container2 {
  
}

#footer {
  clear: both;
  height: 25px;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  bottom:0;
}
