html {
  background-image: url("blob:https%3A//drive.google.com/1a1c7d2c-af6b-4598-a01d-cd1b336cda4c");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5ffff;
  font-family: 'Montserrat', sans-serif;
  }

form {
   margin: 80px 0 100px 0;
}

form input {
  background: #f0f0f0;
}

.section {
  position: relative;
}

.btn {
  background: white;
  font-size: 36px;
  padding: 20px 24px;
  cursor: pointer;
  transition: background 2s, color 1s;
}

.btn:hover {
  background: #FF6347;
  color: #fff;
  transition: background 2s, color 1s;
}

#container2 {
  
}

#footer {
  clear: both;
  height: 25px;
  font-size: 8px;
  text-decoration: none;
  text-align: center;
  bottom:0;
}


https://drive.google.com/file/d/0B64yN5SEW8URRmFkdThWVEFfSkk/preview
