html {
    background-image: url("http://www.spitzer.caltech.edu/uploaded_files/other_files/0006/0681/NASA_HiddenUniverse_12.jpg");
    background-size: cover;
    }
    
div {
    border: 5px groove #b6e4fb;
    border-radius: 5px;
    padding: 3px;
    }

img {
	width:100px;
	height:100px;
    }
	
a:link {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
    }
a:hover {
    border-radius: 5px;
    background-color: #b6e4fb;
    text-align: center;
        }
a:active {
    text-decoration:none;
    }
    
#header {
    height: 20px;
    width: 128px;
    background-color: #aab4ff;
    position: fixed;
    font-size: .9em;
    }
    
#header:hover {
    height: 20px;
    width: 128px;
    background-color: #b6e4fb;
    position: fixed;
    font-size: .9em;
    }
    
.left {
    width:600px;
    background-color: #cbfffe;
    padding: 5px;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
    }
    
.middle {
    width: 600px;
    height: 2500px;
    background-color: #cbfffe;
    position: relative;
    padding: 5px;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
    }

.right {
    width: 600px;
    background-color: #cbfffe;
    position: relative;
    padding: 5px;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
    }
    
.clear { clear: both;
	margin-left: 145px;
	margin-right: 395px;
}

#footer {
    height: 25px; 
    background-color: #bdb7ff;
    clear: both;
    }

.table {
	text-align: center;
    }

.table > .child {
  position: relative;
  left: 50%;
    }
