html {
    background-image: url("blob:https%3A//drive.google.com/1a1c7d2c-af6b-4598-a01d-cd1b336cda4c");
    background-size: cover;
    font-family: Arial;
    }
    
div {
    border: 5px groove #b6e4fb;
    border-radius: 5px;
    padding: 3px;
    }

img {
    width:100px;
    height:100px;
    }
	
a:link {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
    }
a:hover {
    border-radius: 5px;
    background-color: #b6e4fb;
    text-align: center;
        }
a:active {
    text-decoration:none;
    }
    
#header {
    height: 20px;
    width: 135px;
    background-color: #aab4ff;
    position: fixed;
    font-size: .9em;
    }
    
#header:hover {
    height: 20px;
    width: 135px;
    background-color: #b6e4fb;
    position: fixed;
    font-size: .9em;
    }
    
#messageboard:hover {
    background-color: #b6e4fb;
    }    
    
#messageboard {
    height: 45px;
    width: 105px;
    background-color: #aab4ff;
    margin-left: 10px;
    border: 5px groove #b6e4fb;
    border-radius: 5px;
    }    
   
#no-style {
    background-color: none;	
    border: none;
}   
   
.container {
    position: relative;	
    overflow: auto;
}   
    
.left {
    width:600px;
    background-color: #cbfffe;
    padding: 5px;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
    }
    
.middle {
    width: 200px;
    height: 250px;
    background-color: #cbfffe;
    position: fixed;
    padding: 5px;
    margin-top: 40px;
    margin-right: 20px;
    }

.right {
    width: 600px;
    background-color: #cbfffe;
    position: relative;
    padding: 5px;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
    }
    
.clear { clear: both;
	margin-left: 145px;
	margin-right: 395px;
}

#footer {
    height: 25px; 
    background-color: #bdb7ff;
    clear: both;
    }

.table {
	text-align: center;
    }

.table > .child {
  position: relative;
  left: 50%;
    }
