
.container-fluid {
	padding-left: 0%;
}

body {
	background-color: #172E40;
	height: 100vh;
	width: 100vw;
}

main {
	background-color: #5DB7FF;
	background-image:
		url("../media/1.gif"),
		url("../media/2.gif"),
		url("../media/3.gif"),
		url("../media/5.gif"),
		url("../media/9.gif"),
/*		url("../media/7.gif"),*/
		url("../media/8.gif"),
		url("../media/6.gif");
/*		url("../media/10.gif");*/
	background-repeat: repeat;
	height: 100%;
	width: 98vw;
}

section {
	margin-top: 10%;
	margin-bottom: 10%;
}

#mainGif {
/*	margin-top: 10%;*/
	height: 480px;
	width: 480px;
	margin-bottom: 10%;
	margin-right: auto;
	margin-left: auto;
}

img {
	max-height: 480px;
	max-width:480px;
	border: 10px solid #A444FF;
	margin-left: auto;
	margin-right: auto;
}

#myInfo {
	background-color: #76C2FF;
	border: 3px solid #2F78B2;
	border-radius: 20px;
	color: #A9D9FF;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
/*	margin-bottom: 10%;*/
}
#github, #paypalLink, #email {
	background-color: #FFBF5D;
	border: 2px solid #B2781D;
	border-radius: 15px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 0 1% 0;
	letter-spacing: 3px;
}

a:visited {
   text-decoration: none;
}

a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;
}

#pseudoFooter {
	margin-bottom: 0;
	height: 0;
}

footer {
	height: 0px;
}

@media (max-width: 800px) and (orientation: landscape) {
/*	body {
		height: 200vw;
	}
	main {
		height: 200vw;
	}*/
	/*.container {
		margin-top: 10%;
		margin-bottom: 10%;
	}*/
	/*section {
		height: 100vh;
	}*/
	
	#mainGif {
/*		margin-top: 40px;*/
		margin-bottom: 35px;
		height: 110vw;
		width: 110vw;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		max-height: 110vw;
		max-width: 110vw;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-height: 800px) {
/*	body {
		height: 100vw;
	}
	main {
		height: 100vw;
	}*/
	section {
		height: 100vh;
	}

	#mainGif {
		margin-top: 5%;
		margin-bottom: 5%;
		height: 75vh;
		width: 75vh;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		max-height: 75vh;
		max-width: 75vh;
		margin-left: auto;
		margin-right: auto;
	}
}

/*@media (max-width: 800px) {
	section {
		height: 100vh;
	}
	
	#mainGif {
		margin-bottom: 40px;
		height: 110vw;
		width: 110vw;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		max-height: 110vw;
		max-width: 110vw;
		margin-left: auto;
		margin-right: auto;
	}
}*/


/*    <!-- <audio id="song" src="assets/media/yeh.mp3" autoplay="autoplay" loop="loop"> -->*/