html{
	padding: 0%;
	width: 100%;
	height: 100%;
}

body {
	padding: 0%;
	width: 100%;
	height: 100%;
}

main {
	border: 15px solid #172E40;
	background-color: #5DB7FF;
	background-image:
		url("../media/1.gif"),
		url("../media/2.gif"),
		url("../media/3.gif"),
		url("../media/5.gif"),
		url("../media/9.gif"),
		url("../media/8.gif"),
		url("../media/6.gif");
	background-repeat: repeat;
	height: 100%;
}

#mainGif {
	text-align: center;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}

img {
	height: 55vh;
	width: 55vh;
	border: 10px solid #A444FF;
	margin-left: auto;
	margin-right: auto;
}

#myInfo {
	background-color: #76C2FF;
	border: 3px solid #2F78B2;
	border-radius: 20px;
	color: #A9D9FF;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 5%;
}
#github, #paypalLink, #email {
	background-color: #FFBF5D;
	border: 2px solid #B2781D;
	border-radius: 15px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 0 2% 0;
	letter-spacing: 3px;
}

#tipjar{
	display: none;
}
#paypalLink:hover #tipjar{
	display: inline-block;
}
#paypalLink:hover #tipjarTitle {
	display: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

footer {
	height: 0px;
	bottom: 0px;
}


