body {
	background-color: #5DB7FF;
	height: 100vh;
	width: 100vw;
}

main {
	background-image:
		url("../media/1.gif"),
		url("../media/2.gif"),
		url("../media/3.gif"),
/*		url("../media/4.gif"),
*/		url("../media/5.gif"),
		url("../media/6.gif"),
		url("../media/7.gif"),
		url("../media/8.gif"),
		url("../media/9.gif"),
		url("../media/10.gif");
	background-repeat: repeat;
	height: 100vh;
	width: 100vw;
}

#mainGif {
	margin-top: 15%;
}

img {
	max-height: 490px;
	max-width:490px;
	border: 10px solid #A444FF;
}

