/* Notes on potential image fix
  - set the images as background-image and centered within
    the sound container div.  Set width and height to 100%.
    This should center and have the image completely fill
    the container 
*/

body {
  /*background-color: #171717;*/
  background-color: #363636;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 102%;
  height: 100%;
}

/* Header */
header {
  background: #000;
  margin: 0 0 0 0;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  letter-spacing: 0.5em;
  margin-right: 0;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
main {
  padding-left: 5%;
}
#mainContainer {
  margin-top: 15px;
  max-width: 1650px;
}

/*main content*/

/*
a, 
li,
.share-menu span:hover {
  color: #00ffbc;
  cursor: pointer;
}

a:hover,
li:hover {
  color: #e2e2e2;
  text-decoration: none;
}
*/

#anchor {
  height: 0px;

}

/*.col-xs-2:nth-child(1n+1) {
  height: 170px;
  overflow: hidden;
  margin: 10px;
  padding: 0px;
}*/

.col-xs-2 {
  border-radius: 8px;
 /* background-color: black;*/
  border: solid 2px #262626;
  height: 170px;
  overflow: hidden;
  margin: 10px;
  padding: 0px;
  max-width: 220px;
}


img {
  height: 100%;
  width: 100%;
  position: center;
  border-radius: 8px;
  border: solid 2px #262626;
  transition: 0s 1.5s;
}
img:hover {
  cursor: pointer;
}
img:active {
  opacity: 0.2;
  transition: .5s;
}


h2 {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.15em;
  background: #000;
  color: white;
  text-align: center;
  font-size: 22px;
  bottom: 0px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

#bonus {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  letter-spacing: 0.5em;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

#anchorBonus {
  height: 0px;
}

footer {
  height: 65px;
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: black;
  width: 100%;
}

#playbackTitle{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background: #000;
  color: white;
  text-align: right;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#playbackC{
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #7A1008;
  font-family: 'Oswald', sans-serif;
}

#copyright {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background: #000;
  color: white;
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
}

/*#options {
  background-color: black;
  margin-top: 5px;
}

#options > i {
  color: white;
}

.optionCol {
  height: 55px;
}

.playOpt {
  padding-right: 25px;
  padding-top: 2px;
  color: #45b9d9;
}
#oneOff, #multiOff {
  margin-top: 5px;
  border: solid 3px white;
  color: white;
  font-size: 14.5px;
  font-family: 'Oswald', sans-serif;
  padding-left: 5px;
  padding-right: 0px;
  height: 50px;
  visibility: visible;
}*/

/*
a:link {
  text-decoration: none
}

a:hover {
  border: solid #45b9d9 3px;
}

a:active {
  border: solid #45b9d9 3px;
}
*/
/* Soundcard row */
/*
.soundcard,
.more {
  background: rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 0 1px 0;
  padding: 10px 15px;
}

.soundcard p {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.soundcard .home {
  text-align: right;
}
*/


/*** Media Queries ***/

/*sm laptop */ /*
@media only screen and (max-width: 980px) {
  .col-xs-2 {
    width: auto;
  }
} */

/*tablet*/ /*
@media only screen and (max-width: 768px) {
  .container {
    width: 350px;
  }

  .col-sm-4 {
    width: 100%;
  }
} */


/*smartphone landscape */
@media only screen and (max-width: 720px) {
  #mainContainer {
    margin-left: 10%;
  }
  .col-xs-2 {
    width: 25vw;
    height: 28vw;
  }
  img {
    width: 25vw;
    max-height: 28vw;
    position: center;
    border-radius: 8px;
    border: solid 2px #262626;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    width: 100%;
  }
  #copyright {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: white;
    text-align: right;
    font-size: 16px;
    margin-top: 10px;
  }
};

@media only screen and (max-width: 1000px) {
  #mainContainer {
    margin-left: 5%;
  }
  h2 {
    font-size: 16px;
/*    position: absolute;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    background: #000;
    color: white;
    text-align: center;
    font-size: 16px;
    bottom: 0px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;*/
  }

  .logo {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    letter-spacing: 0.5em;
    margin-right: 0;
    padding: 40px 0px 40px 15px;
    text-align: center;
    text-transform: uppercase;
  }

  footer {
    height: 85px;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: black;
  }

  img {
    width: 100%;
    max-height: 100%;
    position: center;
    border-radius: 8px;
    border: solid 2px #262626;
  }

  .col-xs-2{
    max-height: 35vw;
    width: 20vw;
  }
};


/*smartphone portrait */
