html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #171717;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  background: #000;
  margin: 0 0 40px;
}

header > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  letter-spacing: 0.5em;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

/*main content*/

.container {
  width: 100%;
}

/*
a, 
li,
.share-menu span:hover {
  color: #00ffbc;
  cursor: pointer;
}

a:hover,
li:hover {
  color: #e2e2e2;
  text-decoration: none;
}
*/

.row > .col-md-3 {
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 10px 0px;
}

a {
  height: 150px;
  width: 200px;
}

img {
  height: 150px;
  width: 200px;
  position: absolute;
}

h2 {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background: #000;
  color: white;
  text-align: center;
  font-size: 18.5px;
  bottom: 0px;
  width: 100%;
  margin:;
}

/*
a:link {
  text-decoration: none
}

a:hover {
  border: solid #45b9d9 3px;
}

a:active {
  border: solid #45b9d9 3px;
}
*/
/* Soundcard row */
/*
.soundcard,
.more {
  background: rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 0 1px 0;
  padding: 10px 15px;
}

.soundcard p {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.soundcard .home {
  text-align: right;
}
*/


/*** Media Queries ***/

/*sm laptop */ /*
@media only screen and (max-width: 980px) {
  .container {
    width: 770px;
  }
} */

/*tablet*/ /*
@media only screen and (max-width: 768px) {
  .container {
    width: 350px;
  }

  .col-sm-4 {
    width: 100%;
  }
} */


/*smartphone landscape */ /*
@media only screen and (max-width: 640px) {
    .container {
    width: 350px;
  }

  .col-sm-4 {
    width: 100%;
  }
} */


/*smartphone portrait */
